<div class="cartContainer">
    <mat-card class="cartCard" *ngIf="cartedProducts.length === 0">
        <div class="emptyCartContainer">
            <mat-card-title>Your shopping cart is currently empty</mat-card-title>
            <mat-icon class="cartIcon">shopping_cart</mat-icon>
            <mat-card-subtitle>Get Shopping!</mat-card-subtitle>
            <mat-card-subtitle>Discover all the deliciousness.</mat-card-subtitle>
            <a routerLink="/">
                <button mat-raised-button color="warn">
                    Shop Now
                </button>
            </a>
        </div>
    </mat-card>

    <mat-card class="cartCard" *ngIf="cartedProducts.length > 0">
        <p>Not empty</p>
    </mat-card>
</div>
