<div id="adminViewProductsInCategoryPage" class="container">
    <table class="table">
        <tbody>
            <tr>
                <td><label>Product image</label></td>
                <td><input type="file" name="pic" accept="image/*"></td>
            </tr>
            <tr>
                <td><label>Product name</label></td>
                <td><input type="text" name="productName"></td>
            </tr>
            <tr>
                <td><label>Product price</label></td>
                <td><input type="text" name="productPrice"></td>
            </tr>
            <tr>
                <td><label>Product description</label></td>
                <td><input type="text" name="productDescription"></td>
            </tr>
        </tbody>
    </table>
</div>
