<div id="adminDeleteCategoryPage" class="container">
    <h4>Are you sure you want to delete the category?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td><label>Category html id</label></td>
                <td><p>{{selectedCategoryItem.categoryId}}</p></tr>
            <tr>
                <td><label>Category route</label></td>
                <td><p>{{selectedCategoryItem.categoryRoute}}</p></td>
            </tr>
            <tr>
                <td><label>Category image path</label></td>
                <td><p>{{selectedCategoryItem.categoryImage}}</p></td>
            </tr>
            <tr>
                <td><label>Category title</label></td>
                <td><p>{{selectedCategoryItem.categoryTitle}}</p></td>
            </tr>
            <tr>
                <td><label>Category description</label></td>
                <td><p>{{selectedCategoryItem.categoryDescription}}</p></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><button type="button" class="btn btn-danger" ng-click="removeCat(selectedCategoryItem._id)"> Delete category </button></td>
            </tr>
        </tbody>
    </table>
</div>
