<div class="modal fade" id="editCatModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Edit category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr id="categoryIdField">
                            <td><label>Category html id (should be disabled and auto prepare based on title)</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedCategoryItem.categoryId"></td>
                        </tr>
                        <tr id="categoryRouteField">
                            <td><label>Category route (should be disabled and auto prepare based on title)</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedCategoryItem.categoryRoute"></td>
                        </tr>
                        <tr id="categoryImageField">
                            <td><label>Category image path (should be disabled and auto prepare based on title)</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedCategoryItem.categoryImage"></td>
                        </tr>
                        <tr>
                            <td><label>Category title</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedCategoryItem.categoryTitle"></td>
                        </tr>
                        <tr>
                            <td><label>Category description</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedCategoryItem.categoryDescription"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="editCategoryItem(selectedCategoryItem._id)" data-dismiss="modal">Edit category item</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
