<div class="modal fade" id="editProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edit product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Product title</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedProductItem.productTitle"></td>
                        </tr>
                        <tr>
                            <td><label>Product description</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedProductItem.productDescription"></td>
                        </tr>
                            <td><label>Product image path</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedProductItem.productImage"></td>
                        </tr>
                        <tr>
                            <td><label>Product price</label></td>
                            <td><input class="form-control" type="text" ng-model="selectedProductItem.productPrice"></td>
                        </tr>
                        <tr>
                            <td><label>Is vegetarian?</label></td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" ng-model="selectedProductItem.productIsVegetarian" value="true">Yes
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" ng-model="selectedProductItem.productIsVegetarian" value="false">No
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Is spicy?</label></td>
                            <td>
                                <select class="form-control" ng-model="selectedProductItem.productIsSpicy">
                                    <option value="mild">Mild</option>
                                    <option value="medium">Medium</option>
                                    <option value="hot">Hot</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-click="updateProduct(selectedProductItem._id, selectedProductItem.productTitle)" data-dismiss="modal">Update product</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
