<div id="adminHomePage" class="container">
    <h4>Category list <button id="addNewCategoriesBtn" type="button" class="btn btn-success"> Add new Categories </button></h4>
    <table class="table">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Category description</th>
                <th>Action view</th>
                <th>Action delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="categoryItem in categoryItemsList">
                <td>{{categoryItem.categoryTitle}}</td>
                <td>{{categoryItem.categoryDescription}}</td>
                <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#catDetailsModal" ng-click="viewCategoryDetails(categoryItem._id)"> View details </button></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCatModal" ng-click="viewCategoryDetails(categoryItem._id)"> Delete category </button></td>
            </tr>
        </tbody>
    </table>
</div>
