<div class="adminPage">

    <div id="addNewCategoriesModal">
        <div admin-Add-New-Category></div>
    </div>

    <h3 id="categoryListHeader">Category list <button id="addNewCategoriesBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"> Add new Categories </button></h3>
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Add products</th>
                <th>View products</th>
                <th>View details</th>
                <th>Delete category</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="categoryItem in categoryItemsList">
                <td>{{categoryItem.categoryTitle}}</td>
                <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addProductsModal" ng-click="viewCategoryDetails(categoryItem._id)">Add products</button></td>
                <td><button type="button" class="btn btn-info">View products details</button></td>
                <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#catDetailsModal" ng-click="viewCategoryDetails(categoryItem._id)">View category details</button></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCatModal" ng-click="viewCategoryDetails(categoryItem._id)">Delete category</button></td>
            </tr>
        </tbody>
    </table>

    <div id="adminAddProductsModal">
        <div admin-Add-Products></div>
    </div>

    <div id="viewCategoryDetailsModal">
        <div admin-View-Category-Details></div>
    </div>

    <div id="deleteCategoryModal">
        <div admin-Delete-Category></div>
    </div>

    <!-- Please list products in a category
        <table class="table">
            <tbody>
                <tr>
                    <td><label>Product image</label></td>
                    <td><input type="file" name="pic" accept="image/*"></td>
                </tr>
                <tr>
                    <td><label>Product name</label></td>
                    <td><input type="text" name="productName"></td>
                </tr>
                <tr>
                    <td><label>Product price</label></td>
                    <td><input type="text" name="productPrice"></td>
                </tr>
                <tr>
                    <td><label>Product description</label></td>
                    <td><input type="text" name="productDescription"></td>
                </tr>
            </tbody>
        </table> -->
</div>
