<div class="modal fade" id="addNewProduct">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Add products to {{selectedCategoryItem.categoryTitle}} category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Product image (should be disabled and auto prepare based on title)</label></td>
                            <td><input class="form-control" type="text" name="productItem.productImage" ng-model="productItem.productImage"></td>
                        </tr>
                        <tr>
                            <td><label>Product title</label></td>
                            <td><input class="form-control" type="text" name="productItem.productTitle" ng-model="productItem.productTitle"></td>
                        </tr>
                        <tr>
                            <td><label>Product description</label></td>
                            <td><input class="form-control" type="text" name="productItem.productDescription" ng-model="productItem.productDescription"></td>
                        </tr>
                        <tr>
                            <td><label>Product price</label></td>
                            <td><input class="form-control" type="text" name="productItem.productPrice" ng-model="productItem.productPrice"></td>
                        </tr>
                        <tr>
                            <td><label>Is vegetarian?</label></td>
                            <td>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="productItem.productIsVegetarian" ng-model="productItem.productIsVegetarian" value="true">Yes
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="productItem.productIsVegetarian" ng-model="productItem.productIsVegetarian" value="false">No
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Is spicy?</label></td>
                            <td>
                                <select class="form-control" name="productItem.productIsSpicy" ng-model="productItem.productIsSpicy">
                                    <option value="mild">Mild</option>
                                    <option value="medium">Medium</option>
                                    <option value="hot">Hot</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="addProductsToCategory(selectedCategoryItem.categoryTitle)" data-dismiss="modal">Add products</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
