<div ng-if="cartIsEmpty" class="emptyCartContainer">
    <h2>Your shopping cart is currently empty</h2>
    <div class="emptyCartSection">
        <i id="cartIconOnCartPage" class="fa fa-shopping-cart"></i>
        <p>Get Shopping!</p>
        <p>Discover all the deliciousness.</p>
    </div>
</div>

<div ng-if="!cartIsEmpty" class="cartContainer">
    <h2>Cart</h2>
    <div ng-repeat="product in products">
        <p class="cartItemsOnNonCartPages">
            {{product.productTitle}}
            <br />
            {{product.productQuantity}} for
            ${{product.productCalculatedPrice}}&nbsp;&nbsp;&nbsp;
            <a class="removeCartItemsOnNonCartPages" ng-click="removeFromCart(product._id)">Remove</a>
        </p>
    </div>
</div>
