<div class="cartPage container">
    <div class="cartContainer">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Edit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.productTitle}}
                        <div style="font-size: 12px">Calories</div>
                    </td>
                    <td>{{product.productQuantity}} X ${{product.productPrice}}</td>
                    <td><button class="btn btn-danger" ng-click="removeFromCart(product._id)">
                        <i class="fa fa-trash-o"></i>
                    </button></td>
                    <td>${{product.productCalculatedPrice}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                    <td>${{productFinalPrice | number : 2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
