<nav id="mainNav">
	<ul>
		<li>
			<a href="#">
				<img src="images/logo.jpg" width="30" height="30" alt="logo">
			</a>
		</li>
		<li><a href="">HOME</a></li>
		<li><a href="#!">MENU</a></li> <!-- This will have home.html view -->
		<li><a href="">COUPONS</a></li>
		<li><a href="">GROUP ORDERING</a></li>
		<li><a href="">TRACKER</a></li>
		<li><a href="">PIZZA PROFILE</a></li>
		<li><a href="">SIGN IN & EARN<br>REWARDS</a></li>
	</ul>
</nav>

<nav id="subNav"">
	<ul>
		<li><a href="#!">VIEW ALL</a></li> <!-- This will have home.html view -->
		<li><a href="#!/AllPizzas">PIZZA</a></li> <!-- This will have allPizza.html view -->
		<li><a href="#!/Bread">BREADS</a></li>
		<li><a href="">CHICKEN</a></li>
		<li><a href="">DESSERTS</a></li>
		<li><a href="">PASTA</a></li>
		<li><a href="">SANDWICHES</a></li>
		<li><a href="">SALADS</a></li>
		<li><a href="">DRINKS</a></li>
		<li><a href="">EXTRAS</a></li>
	</ul>
</nav>
