<nav id="mainNav" class="navbar navbar-expand-sm bg-primary navbar-dark">
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="#">
				<img src="images/logo.jpg" width="30" height="30" alt="logo">
			</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="">HOME</a></li>
		<li class="nav-item"><a class="nav-link" href="#!">MENU</a></li> <!-- This will have home.html view -->
		<li class="nav-item"><a class="nav-link" href="">COUPONS</a></li>
		<li class="nav-item"><a class="nav-link" href="">GROUP ORDERING</a></li>
		<li class="nav-item"><a class="nav-link" href="">TRACKER</a></li>
		<li class="nav-item"><a class="nav-link" href="">PIZZA PROFILE</a></li>
		<li class="nav-item"><a class="nav-link" href="">SIGN IN & EARN<br>REWARDS</a></li>
	</ul>
</nav>

<nav id="subNav" class="navbar navbar-expand-sm bg-light navbar-light">
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#!">VIEW ALL</a></li> <!-- This will have home.html view -->
		<li class="nav-item"><a class="nav-link" href="#!/AllPizzas">PIZZA</a></li> <!-- This will have allPizza.html view -->
		<li class="nav-item"><a class="nav-link" href="#!/Bread">BREADS</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Chicken">CHICKEN</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Dessert">DESSERTS</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Pasta">PASTA</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Sandwich">SANDWICHES</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Salad">SALADS</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/AllDrinks">DRINKS</a></li>
		<li class="nav-item"><a class="nav-link" href="#!/Extras">EXTRAS</a></li>
	</ul>
</nav>
