<header id="mainNav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a id="brandLogo" class="navbar-brand" href="#">
                <img id="brandImage" src="images/logo.jpg" width="40.57" height="25.285" alt="logo" class="d-inline-block align-top">
                <span id="brandName">Pizza</span>
            </a>

            <button id="hamburger" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="#!">ALL</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/AllPizzas">PIZZA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Breads">BREADS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Chicken">CHICKEN</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Desserts">DESSERTS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Pasta">PASTA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Sandwiches">SANDWICHES</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Salads">SALADS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Drinks">DRINKS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/category/Extras">EXTRAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/Cart"><i id="cartIcon" class="fa fa-shopping-cart"><sup id="cartItemsCount">1</sup></i></a></li>
                </ul>
            </div>

        </div>
    </nav>
</header>

<!--
<li class="nav-item"><a class="nav-link" href="">HOME</a></li>
<li class="nav-item"><a class="nav-link" href="#!">MENU</a></li>
<li class="nav-item"><a class="nav-link" href="">COUPONS</a></li>
<li class="nav-item"><a class="nav-link" href="">GROUP ORDERING</a></li>
<li class="nav-item"><a class="nav-link" href="">TRACKER</a></li>
<li class="nav-item"><a class="nav-link" href="">PIZZA PROFILE</a></li>
<li class="nav-item"><a class="nav-link" href="">SIGN IN & EARN<br>REWARDS</a></li>
<li class="nav-item"><a class="nav-link" href="#!/Admin">ADMIN</a></li>
-->
