<div class="modal fade" id="mobileCart">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Added to cart!</h4>
            </div>

            <div class="modal-body">
                <p>product added to cart</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="navigateToCart()">View cart</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue shopping</button>
            </div>

        </div>
    </div>
</div>
