<div class="modal fade" id="mobileCart">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Added to cart!</h4>
            </div>

            <div class="modal-body">
                <p><span class="itemAddedToCartName">{{itemAddedToCart.productTitle}}</span> added to cart</p>
                <p class="itemAddedToCartFeatures">
                    <span ng-if="itemAddedToCart.productIsVegetarian === 'true'">Vegetarian</span>
                    <span ng-if="itemAddedToCart.productIsVegetarian === 'false'">Non vegetarian</span>
                    <br />
                    <span ng-if="itemAddedToCart.productIsSpicy === 'sweet'">Sweet</span>
                    <span ng-if="itemAddedToCart.productIsSpicy === 'mild'">Mild spicy</span>
                    <span ng-if="itemAddedToCart.productIsSpicy === 'medium'">Medium spicy</span>
                    <span ng-if="itemAddedToCart.productIsSpicy === 'hot'">Spicy hot</span>
                    <br />
                    Calories count
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="navigateToCart()">View cart</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continue shopping</button>
            </div>

        </div>
    </div>
</div>
