<div class="popularAmongYourNeighbors">
    <mat-card>
        <div class="popularAmongYourNeighborsContainer">
            <div class="message">
                <mat-card-title>Popular Among Your Neighbors</mat-card-title>
            </div>
        </div>
        <div class="popularAmongYourNeighborsItemsContainer">
            <mat-card>
                hello world 1
            </mat-card>
            <mat-card>
                hello world 2
            </mat-card>
            <mat-card>
                hello world 3
            </mat-card>
            <mat-card>
                hello world 4
            </mat-card>
            <mat-card>
                hello world 5
            </mat-card>
        </div>
    </mat-card>
</div>
