<div class="popularAmongYourNeighbors">
    <mat-card class="popularAmongYourNeighborsCard">
        <div class="popularAmongYourNeighborsContainer">
            <div class="message">
                <mat-card-title>Popular Among Your Neighbors</mat-card-title>
            </div>
        </div>
        <div class="popularAmongYourNeighborsItemsContainer">
            <mat-card class="popularItemCard" *ngFor="let product of popularData">
                <div class="popularItemProductImage">
                    <img [alt]="product.productTitle" [src]="product.productImage">
                </div>
                <button mat-raised-button color="warn" class="popularItemAddToCrtBtn" (click)="popularItemAddToCart(product._id)">Add to order</button>
                <div class="popularItemProductContainer">
                    <h3 class="popularItemProductTitle">{{product.productTitle}} ${{product.productPrice}}</h3>
                </div>
            </mat-card>
        </div>
    </mat-card>
</div>
