<div class="browseOurMenu">
    <mat-card>
        <div class="browseOurMenuContainer">
            <div class="message">
                <mat-card-title>Browse Our Menu</mat-card-title>
                <a routerLink="/cat">
                    <button mat-raised-button color="warn">
                        View Full Menu
                    </button>
                </a>
            </div>
            <div class="browseOurMenuImageContainer">
                <img alt="browseOurMenuImage" src="assets/images/home/browseOurMenu.jpg">
            </div>
        </div>
    </mat-card>
</div>
