#categoryIdField, #categoryRouteField, #categoryImageField {
    display: none;
}

#categoryListHeader {
    margin: 15px;
    padding: 5px;
}

#addNewCategoriesBtn {
    float: right;
    width: 25%;
    white-space: nowrap;
}
