#mainNav ul, #subNav ul {
  margin: auto;
}

#mainNav li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
}

#subNav li a {
  text-align: center;
  padding: 14px 16px;
}

#subNav {
  margin-bottom: 10px;
}
