#productsList > .row > .col-sm {
    border: 1px solid #343a40;
    margin: 12px;
    border-radius: 10px;
    padding: 10px;
}

.productImage > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.productAddToCrtBtn {
    width: 90%;
    height: 38px;
    margin: 10px;
    padding: 6px 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: #ffffff;
    background-color: #dc3545;
    border: 0px solid #dc3545;
}

.productDetails > h3 {
    font-size: 20px;
    margin: auto;
}

.productDetails > p {
    font-size: 14px;
    margin: auto;
}

.pills {
    border-radius: 100px;
    height: 28px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    margin: 0 0 10px 0;
    flex-direction: row;
}

.red {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.green {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
}

.sweet {
    color: #fff;
    background-color: hotpink;
    border: 1px solid hotpink;
}

.spiceMild {
    color: #fff;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.spiceMedium {
    color: #fff;
    background-color: darkorange;
    border: 1px solid darkorange;
}

.spiceHot {
    color: #fff;
    background-color: darkred;
    border: 1px solid darkred;
}

/* .productContainer {
    width: 200px;
}

.productImage {
    margin: 0px 10px;
}

.productImage > img {
    border-radius: 2px;
}

.productAddToCrtBtn {
    margin: 10px;
    text-transform: uppercase;
    width: 180px;
}

.productTitle {
    color: #0078AE;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    margin: 0px 10px;
}

.productDescription {
    color: #555555;
    font-size: small;
    margin: 10px;
    text-align: justify;
} */
