.productContainer {
	width: 200px;
}

.productImage {
	margin: 0px 10px;
}

.productImage > img {
	border-radius: 2px;
}

.productAddToCrtBtn {
	margin: 10px;
	text-transform: uppercase;
	width: 180px;
}

.productTitle {
	color: #0078AE;
	text-decoration: none;
	cursor: pointer;
	font-size: large;
	margin: 0px 10px;
}

.productDescription {
	color: #555555;
	font-size: small;
	margin: 10px;
	text-align: justify;
}
