<mat-card *ngFor="let breads of breadsData">
    <a [routerLink]="">
        <div class="productImage">
            <img [alt]="breads.productImageAlternateText" [src]="breads.productImage">
        </div>
        <button type="button">Add to order</button>
        <div [class]="breads.productClass">
            <h3>{{breads.productTitle}} ${{breads.productPrice}}</h3>
            <p>{{breads.productDescription}}</p>
            <br />
            <span class="pills green" ng-if="breads.productIsVegetarian === 'true'">Vegetarian</span>
            <span class="pills red" ng-if="breads.productIsVegetarian === 'false'">Non vegetarian</span>

            <span class="pills sweet" ng-if="breads.productIsSpicy === 'sweet'">Sweet</span>
            <span class="pills spiceMild" ng-if="breads.productIsSpicy === 'mild'">Mild spicy</span>
            <span class="pills spiceMedium" ng-if="breads.productIsSpicy === 'medium'">Medium spicy</span>
            <span class="pills spiceHot" ng-if="breads.productIsSpicy === 'hot'">Spicy hot</span>
        </div>
    </a>
</mat-card>
