mat-card {
    background-color: #f1f1f1;
    width: auto;
    height: auto;
    margin: 25px;
    padding: 25px;
    border-radius: 0;
}

.message {
    text-align: center;
}

mat-card-title {
    color: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.signInOrCreateNewAccount {
    min-height: 450px;
}

/*  */
.signInOrCreateNewAccountBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 16px;
    padding: 16px;
    height: 450px;
}
/*  */

.createAccountField {
    width: 100%;
}

.createNewAccountTable {
    width: 80%;
    margin: 0px auto;
}

.createAccountButtonTableData {
    text-align: center;
}

.createAccountButton {
    width: 50%;
    padding: 12px;
    font-size: 16px;
}

.orderAgain {
    min-height: 200px;
}

.popularAmongYourNeighborsItemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
