<div class="homePage">
    <div class="deliveryOrPickup">
        <mat-card>
            <div class="message">
                <mat-card-title>How Do You Want Your Domino's Today?<br>All Deliveries Are Contactless.</mat-card-title>
            </div>
            <div class="deliveryOrPickupContainer">
                <div class="deliveryImageContainer">
                    <img alt="deliveryOptionImage" src="assets/images/home/delivery.png">
                </div>
                <div>
                    <mat-card-title>OR</mat-card-title>
                </div>
                <div class="pickupImageContainer">
                    <img alt="pickupOptionImage" src="assets/images/home/pickup.png">
                </div>
            </div>
        </mat-card>
    </div>

    <hr>

    <div class="browseOurMenu">
        <mat-card>
            <div class="browseOurMenuContainer">
                <div class="message">
                    <mat-card-title>Browse Our Menu</mat-card-title>
                    <button mat-raised-button color="warn">
                        <a routerLink="/cat">
                            View Full Menu
                        </a>
                    </button>
                </div>
                <div class="browseOurMenuImageContainer">
                    <img alt="browseOurMenuImage" src="assets/images/home/browseOurMenu.jpg">
                </div>
            </div>
        </mat-card>
    </div>
</div>
