mat-card {
    background-color: #f1f1f1;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 0;
}

.message {
    text-align: center;
}

mat-card-title {
    color: #000000;
}

.deliveryOrPickupContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.deliveryImageContainer, .pickupImageContainer {
    width: 40%;
    margin: 0 50px 0 50px;
}

img {
    width: 100%;
}
