<div class="homeContainer">
    <mat-card class="homeSection">
        <mat-card-title class="cardHeading">How Do You Want Your Domino's Today?<br>All Deliveries Are Contactless
        </mat-card-title>
        <app-delivery-or-pickup></app-delivery-or-pickup>
    </mat-card>

    <mat-card class="homeSection">
        <mat-card-title class="cardHeading">Browse Our Menu</mat-card-title>
        <app-browse-our-menu></app-browse-our-menu>
    </mat-card>

    <mat-card class="homeSection">
        <mat-card-title class="cardHeading">Popular Items</mat-card-title>
        <app-popular-items></app-popular-items>
    </mat-card>
</div>
