<div class="homePage">
    <div class="deliveryOrPickup">
        <mat-card>
            <div class="message">
                <mat-card-title>How Do You Want Your Domino's Today?<br>All Deliveries Are Contactless.</mat-card-title>
            </div>
            <div class="deliveryOrPickupContainer">
                <div class="deliveryImageContainer">
                    <img alt="deliveryOptionImage" src="assets/images/home/delivery.png">
                    <p>Clicking the image will take the use to maps view and if the customer is in within 20 miles (test) radius the delivery option will be active or else pickup option will be suggested (work in progress).</p>
                </div>
                <div>
                    <mat-card-title>OR</mat-card-title>
                </div>
                <div class="pickupImageContainer">
                    <img alt="pickupOptionImage" src="assets/images/home/pickup.png">
                    <p>Clicking the image will take the use to forms page were the customer will be asked to enter there details like name phone number and asked to enter there credit card details for safety reasons (work in progress).</p>
                </div>
            </div>
        </mat-card>
    </div>

    <hr>

    <div class="browseOurMenu">
        <mat-card>
            <div class="browseOurMenuContainer">
                <div class="message">
                    <mat-card-title>Browse Our Menu</mat-card-title>
                    <button mat-raised-button color="warn">
                        <a routerLink="/cat">
                            View Full Menu
                        </a>
                    </button>
                </div>
                <div class="browseOurMenuImageContainer">
                    <img alt="browseOurMenuImage" src="assets/images/home/browseOurMenu.jpg">
                </div>
            </div>
        </mat-card>
    </div>

    <hr>

    <div class="signInOrCreateNewAccount">
        <mat-card>
            <div class="signInOrCreateNewAccountContainer">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Sign In To Your Pizza Profile">
                        <div class="signInOrCreateNewAccountBox mat-elevation-z4">
                            Sign in form
                        </div>
                    </mat-tab>
                    <mat-tab label="Create Your Pizza Profile">
                        <div class="signInOrCreateNewAccountBox mat-elevation-z4">
                            Create new account form
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>
