<div class="categoryContainer">
    <mat-card class="categoryCard">
        <a class="categoryLink" routerLink="#">
            <div class="categoryImage">
                <img alt="testCategory" src="assets/images/categoryImages/Pizzas.png">
            </div>
            <div class="categoryDetails">
                <mat-card-title class="categoryTitle">Test Category Name</mat-card-title>
                <mat-card-subtitle class="categoryDescription">Test Category Description</mat-card-subtitle>
            </div>
        </a>
    </mat-card>
</div>
