<div class="categoryContainer">
    <mat-card class="categoryCard" *ngFor="let category of categoryData">
        <a class="categoryLink" [routerLink]="['/category', category.categoryTitle]">
            <div class="categoryImage">
                <img [alt]="category.categoryTitle" src="assets/images/categoryImages/{{category.categoryTitle}}.png">
            </div>
            <div class="categoryDetails">
                <mat-card-title class="categoryTitle">{{category.categoryTitle}}</mat-card-title>
                <mat-card-subtitle class="categoryDescription">{{category.categoryDescription}}</mat-card-subtitle>
            </div>
        </a>
    </mat-card>
</div>
