<div class="modal-header">
    <h4 class="modal-title">Are you sure you want to delete category?</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
    <table class="table">
        <tbody>
            <tr>
                <td><label>Category html id</label></td>
                <td><strike><p>{{selectedCategoryItem.categoryId}}</p></strike></tr>
            <tr>
                <td><label>Category route</label></td>
                <td><strike><p>{{selectedCategoryItem.categoryRoute}}</p></strike></td>
            </tr>
            <tr>
                <td><label>Category image path</label></td>
                <td><strike><p>{{selectedCategoryItem.categoryImage}}</p></strike></td>
            </tr>
            <tr>
                <td><label>Category title</label></td>
                <td><strike><p>{{selectedCategoryItem.categoryTitle}}</p></strike></td>
            </tr>
            <tr>
                <td><label>Category description</label></td>
                <td><strike><p>{{selectedCategoryItem.categoryDescription}}</p></strike></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeCat(selectedCategoryItem._id)">Delete category</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
