<mat-card *ngFor="let product of productData">
    <a [routerLink]="">
        <div class="productImage">
            <img [alt]="product.productImageAlternateText" [src]="product.productImage">
        </div>
        <button type="button">Add to order</button>
        <div [class]="product.productClass">
            <h3>{{product.productTitle}} ${{product.productPrice}}</h3>
            <p>{{product.productDescription}}</p>
            <br />
            <span class="pills veg" *ngIf="product.productIsVegetarian === 'true'">Vegetarian</span>
            <span class="pills nonVeg" *ngIf="product.productIsVegetarian === 'false'">Non vegetarian</span>

            <span class="pills sweet" *ngIf="product.productIsSpicy === 'sweet'">Sweet</span>
            <span class="pills spiceMild" *ngIf="product.productIsSpicy === 'mild'">Mild spicy</span>
            <span class="pills spiceMedium" *ngIf="product.productIsSpicy === 'medium'">Medium spicy</span>
            <span class="pills spiceHot" *ngIf="product.productIsSpicy === 'hot'">Spicy hot</span>
        </div>
    </a>
</mat-card>
