.divCenter {
	display: table;
	margin: 0 auto;
}

.topLeftBanner {
	height: 500px;
	border: 2px solid black;
}

.topRightBanners {
	height: 500px;
}

.topRightUpperBanner {
	height: 245px;
	border: 2px solid black;
	margin-bottom: 10px;
}

.topRightLowerBanner {
	height: 245px;
	border: 2px solid black;
}

.centerBanner {
	height: 100px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bottomBanner {
	margin-top: 20px;
	height: 200px;
	border: 2px solid black;
}

#footer {
	height: 200px;
	border-top: 2px solid black;
	margin-top: 10px;
}
