.inProductTiles {
	margin-top: 10px;
	margin-right: 10px;
	height: 500px;
	border-radius: 2px;
	border: 1px solid #005177;
}

.orderButton {
	width: 100%;
	margin-top: 10px;
}

.productPicture {
	margin-top: 10px;
	height: 250px;
	width: 250px;
	/*border-radius: 2px;*/
	/*border: 2px solid #005177;*/
}

.productPicture img {
	border-radius: 2px;
}

.productHeading {
	background-color: #005177;
	color: #ffffff;
}