.navigationItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

li a.homeIconLink {
    padding-top: 16px;
}

.logo a, li a {
    display: block;
    padding: 14px 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.hamburger, .logo {
    display: block;
}

.navigationLinksContainer {
    display: none;
}

@media (min-width: 1120px) {
    .hamburger, .logo {
        display: none;
    }

    .navigationLinksContainer {
        display: block;
    }
}
