<div class="navigationContainer">
    <mat-toolbar>
        <div class="navigationHeaderContainer">
            <div class="navigationHeaderItems">
                <div class="hamburger">
                    <button mat-icon-button (click)="onToggleSidenav()">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <div class="logo">
                    <a routerLink="/cat">Pizza</a>
                </div>
                <div class="headerCartIcon">
                    <a routerLink="/cart">
                        <mat-icon [matBadge]="cartCount" #tooltip="matTooltip" matTooltip="Cart" matTooltipPosition="below">shopping_cart</mat-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="navigationLinksContainer">
            <ul class="navigationItems">
                <li>
                    <a routerLink="/cat" class="homeIconLink">
                        <mat-icon #tooltip="matTooltip" matTooltip="All categories" matTooltipPosition="below">home</mat-icon>
                    </a>
                </li>
                <li *ngFor="let navigation of navigationData">
                    <a [routerLink]="['/cat', navigation.categoryId]">
                        {{navigation.categoryTitle}}
                    </a>
                </li>
                <li>
                    <a routerLink="/cart" class="cartIconLink">
                        <mat-icon [matBadge]="cartCount" #tooltip="matTooltip" matTooltip="Cart" matTooltipPosition="below">shopping_cart</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </mat-toolbar>
</div>
