.navigationItems {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigationItems li {
    float: left;
}

.navigationItems li a.homeIconLink, .navigationItems li a.cartIconLink {
    padding-top: 14px;
}

.navigationItems li a.homeIconLink mat-icon, .navigationItems li a.cartIconLink mat-icon {
    font-size: 30px;
}

.logo a, .navigationItems li a {
    display: block;
    padding: 14px 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.hamburger, .logo {
    display: block;
}

.navigationLinksContainer {
    display: none;
}

@media (min-width: 1155px) {
    .hamburger, .logo {
        display: none;
    }

    .navigationLinksContainer {
        display: block;
    }
}
