.browseOurMenuContainer {
    display: flex;
    align-items: center;
    background-image: url("/assets/images/home/browseOurMenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
    max-width: 900px;
    margin: 0 auto;
}

.categoryLink {
    text-decoration: none;
    color: inherit;
}

.browseOurMenuBtn {
    width: 100%;
    height: 38px;
    margin: 0 0 0 42px;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
}
