<mat-card *ngFor="let pizzas of pizzasData">
    <a [routerLink]="">
        <div class="productImage">
            <img [alt]="pizzas.productImageAlternateText" [src]="pizzas.productImage">
        </div>
        <button type="button">Add to order</button>
        <div [class]="pizzas.productClass">
            <h3>{{pizzas.productTitle}} ${{pizzas.productPrice}}</h3>
            <p>{{pizzas.productDescription}}</p>
            <br />
            <span class="pills green" ng-if="pizzas.productIsVegetarian === 'true'">Vegetarian</span>
            <span class="pills red" ng-if="pizzas.productIsVegetarian === 'false'">Non vegetarian</span>

            <span class="pills sweet" ng-if="pizzas.productIsSpicy === 'sweet'">Sweet</span>
            <span class="pills spiceMild" ng-if="pizzas.productIsSpicy === 'mild'">Mild spicy</span>
            <span class="pills spiceMedium" ng-if="pizzas.productIsSpicy === 'medium'">Medium spicy</span>
            <span class="pills spiceHot" ng-if="pizzas.productIsSpicy === 'hot'">Spicy hot</span>
        </div>
    </a>
</mat-card>
